	<meta charset="utf-8" />
	<style>
	#convertisseur
{
    display: flex;
    float: center;
    background-color: white;
    width: 600px;
    height: 300px;
    padding-top: 2px;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 2px #1c1a19;

}

#convertisseur_banniere
{
    position: absolute;
    border-radius: 5px;
    width: 600px;
    height: 35px;
    padding-top: none;
    margin: auto;
    background-color: rgba(24,24,20,0.5);
    color: white;
    font-size: 0.8em;
}

#convertisseur_banniere h2
{
    padding: auto;
    margin: auto;
}

.header {
display:block;
margin:auto;

}
#contact
{
    display: flex;
    justify-content:space-between;
    padding-top: 8px;
}

#aide
{
    float: left;
}

#social
{
    display:flex;
    float: center;
    margin:auto;
}

#Identification
{
 padding-top: 10px;
 float: right;
 margin-right: 4px;
 text-align: right;
}

/* Footer */

footer
{
    display: flex;
    text-align: center;
    padding-top: 25px;
    justify-content:space-around;
}

footer p, footer ul
{
    font-size: 0.8em;
}


footer h1
{
    color: navy;
    text-shadow: 1px 1px grey;
    font-size: 1.2em;
}


#infoBank
{
    background-color: white;
    width: 300px;
    padding: 25px;
    margin: 25px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 2px #1c1a19;
}

#Offres
{
    background-color: white;
    width: 300px;
    padding: 25px;
    margin: 25px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 2px #1c1a19;
}

#Pub
{
    background-color: white;
    width: 300px;
    padding: 25px;
    margin: 25px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 2px #1c1a19;
}
	</style>
	
	&nbsp
	
	<div class="header">
	<div id="social" align="center">
				<p>
					<a href="https://facebook.com"><img
						src="<c:url value='/images/Facebook.png' />" alt="Facebook" /></a>
					<a href="https://plus.google.com"><img
						src="<c:url value='/images/Google+.png' />" alt="Google+" /></a>
					<a href="https://twitter.com"><img
						src="<c:url value='/images/Twitter.png' />" alt="Twitter" /></a>
				</p>
			</div>
			
	<div id="contact">
					
			<div id="aide">
				<p>
					<a href="#" class="myButton">Nous contacter</a> <a href="#"
						class="myButton">?</a>
				</p>
			</div>
			
						<div id="Identification" >
			<form>
				<p>
					<input type="text" id="Identifiant" placeholder="Identifiant" /> <input
						type="text" id="mdp" placeholder="Mot de Passe" /> <a href="#/Conseiller"
						class="myButton" ng-click="connexion()">Connexion</a>
				</p>
			</form>
			<p>
				Pas encore de compte? &nbsp <a href="#/Inscription" class="myButton">Inscrivez-vous</a>
			</p>
		</div>
		</div>
		</div>
		<br> 
		
		
		<fieldset>

		<legend>
			<h2>Convertisseur en Ligne</h2>
		</legend>
		<br />
		..........................
		..................................................................
		</fieldset>
		<footer>
		<div id="infoBank">
			<h1>Actu Gest Bank</h1>
			<p>blabla</p>
			<p>blabla</p>
		</div>
		<div id="Offres">
			<h1>Offres Promotionnelles</h1>
			<p></p>
		</div>
		<div id="Pub">
			<h1>Publicités</h1>
			<iframe src="https://www.tripadvisor.fr/" width="250" height="300"></iframe>
		</div>
		</footer>