<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Admin.css">

<div id="ma_page">
<!-- <div class="menuBtn" align="center" > -->

<!-- 	<a href="#/Admin/AffectCons" class="myButton">Accueil</a> <a href="#/" -->
<!-- 		class="myButton">Déconnexion</a> -->

<!-- </div> -->
<br>
<fieldset>
<div class="boutons_accueil">
<button ng-click="mainCtrl.redirection('/Admin/GestionConseillers')" class="btnAccueil1"><img src="static/images/conseiller_clients.png" width="256" height="256" alt="Save icon"/><br/>
Gestion des Conseillers</button>
<br>
<button ng-click="mainCtrl.redirection('/Admin/GestionDemandes')" class="btnAccueil2"><img src="static/images/conseiller_demandes.png" width="256" height="256" alt="Save icon"/>
<br/>
Demandes d'Ouverture de Compte</button>
</div>
</fieldset>
</div>