<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Admin.css">

<div id="ma_page">
<!-- <div class="menuBtn" align="center" > -->

<!-- 	<a href="#/Admin/AffectCons" class="myButton">Accueil</a> <a href="#/" -->
<!-- 		class="myButton">Déconnexion</a> -->

<!-- </div> -->
<br>

<button ng-click="mainCtrl.redirection('/Admin/GestionConseillers')">Gestion des Conseillers</button>
<br>
<button ng-click="mainCtrl.redirection('/Admin/GestionDemandes')">Gestion des Demandes d'Inscription</button>
</div>