<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Client.css">
<div class="ma_page" >

	<!-- 	<div class="menuBtn" align="center"> -->
	<!-- 		<a href="#/Client" class="myButton">Accueil</a> -->
	<!-- 		<a href="#/Mes Informations" class="myButton">Mes Informations</a> -->
	<!-- 		<a href="#/ClientMessagerie" class="myButton">Messagerie</a> -->
	<!-- 		<button ng-click="mainCtrl.deconnexion()" class="myButton">Déconnexion</button> -->
	<!-- 	</div> -->
	<!-- 	<br> -->

	<fieldset>
		<legend>
			<h2>Mes Comptes</h2>
		</legend>
		<br />

		<div class="option1">
			<table align="center" cellspacing=1 cellpadding=10>
				<thead border=1>
					<tr>
						<th>Type</th>
						<th>Numero</th>
						<th>Solde</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="compte in ClientCtrl.comptes" ng-click="voirCompte(compte.noCompte)">
						<td>Compte chèque <span ng-if="compte.decouvert!=0">avec
								decouvert<span ng-if="compte.seuilRemuneration!=0"> et </span>
						</span><span ng-if="compte.seuilRemuneration!=0">avec remuneration</span></td>
						<td><span ng-bind="compte.noCompte"></span></td>
						<td><span ng-bind="compte.solde"></span>€</td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>

</div>