<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Conseiller.css">


<div id="ma_page">

<!-- 	<div class="menuBtn" align="center"> -->
<!-- 		<a href="#/Conseiller" class="myButton">Accueil</a> -->
<!-- 		<a href="#/Info_cons" class="myButton">Mes Informations</a> -->
<!-- 		<a href="#/ConseillerMessagerie" class="myButton">Messagerie</a> -->
<!-- 		<a href="#/" class="myButton">Déconnexion</a> -->
<!-- 	</div> -->
<!-- 	<br> -->

	<button ng-click="mainCtrl.redirection('/Conseiller/GestionClients')">Gestion des Clients</button>
<br>
	<button ng-click="mainCtrl.redirection('/Conseiller/GestionDemandes')">Gestion des Demandes d'Inscription</button>
	
</div>