<link rel="stylesheet" href="static/css/style_Client.css">
<meta charset="utf-8" />
<div class="ma_page" ng-controller="CompteController as comptectrl"
	ng-init="accueil()">

	<div class="menuBtn" align="center">

		<a href="#/Client" class="myButton">Accueil</a> <a
			href="#/Mes Informations" class="myButton">Mes Informations</a> <a
			href="#/ClientMessagerie" class="myButton">Messagerie</a> <a
			href="#/" class="myButton">Déconnexion</a>

	</div>
	<br>

	<fieldset>
		<legend>
			<h2>Mes Comptes</h2>
		</legend>
		<br />

		<div class="option1">
			<table align="center" cellspacing=1 cellpadding=10>
				<thead border=1>
					<tr>
						<th>Type</th>
						<th>Numero</th>
						<th>Solde</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="compte in comptectrl.comptes">
						<td><span ng-bind="compte.type"></span></td>
						<td><span ng-bind="compte.numero"></span></td>
						<td><span ng-bind="compte.solde"></span></td>
					</tr>
					<tr>
						<td>exemple cheque</td>
						<td>exemple 11111111111</td>
						<td>exemple +300,00</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br> <br> <a href="#/GestionCompte" class="myButton">Test
			gestion</a>
	</fieldset>

</div>