<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Admin.css">


<div class="menuBtn" align="center">

	<a href="#/Admin/AffectCons" class="myButton">Accueil</a> <a href="#/"
		class="myButton">Déconnexion</a>

</div>
<br>

<fieldset>

	<legend>
		<h2>Gestion des Conseillers</h2>
	</legend>
	<br />
	<div class="option1">
		<div align="center">
			<input type="search" class="input-sm" name="recherche"
				placeholder="Entrer numero ou nom "> <input type="button"
				class="myButton" name="bouton1" value="Recherche"> <input
				type="button" class="myButton" name="bouton2"
				value="+ Ajouter conseiller">
		</div>
		<br> <br>
		<div>
			<table align="center" cellspacing=1 cellpadding=10>
				<thead>
					<tr>
						<th>Matricule</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Téléphone</th>
						<th>Détails</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cons in actrl.conseillers">
						<td><span ng-bind="cons.matricule"></span></td>
						<td><span ng-bind="cons.nom"></span></td>
						<td><span ng-bind="cons.email"></span></td>
						<td><span ng-bind="cons.telephone"></span></td>
						<td><a href="" class="myButton">Voir</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br> <br>
</fieldset>
<br>
<fieldset>
	<legend>
		<h2>Gestion des Demandes d'Inscription</h2>
	</legend>
	<br />
	<div class="option2">
		<div align="center">
			<input type="search" class="input-sm" name="recherche"
				placeholder="Entrer numero ou nom "> <input type="button"
				class="myButton" name="bouton1" value="Recherche">
		</div>
		<br> <br>
		<div>
			<table align="center" border=1 cellspacing=1 cellpadding=10>
				<thead>
					<tr>
						<th>Date Demande</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Date d'Affectation</th>
						<th>Conseiller</th>
						<th>Statut</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="d in actrl.demandes">
						<td><span>{{d.dateCreation | date}}</span></td>
						<td><span>{{d.cp.nom}} {{d.cp.prenom}}</span></td>
						<td><span ng-bind="d.cp.email"></span></td>
						<td><span ng-bind="d.dateAffectation"></span></td>
						<td>
							<span ng-if="d.conseiller===null">
								<a href="" class="myButton">Affecter</a>
							</span>
							<span ng-if="d.conseiller!==null">{{d.conseiller.matricule}}</span>
						</td>
						<td>
							<span ng-if="d.valide">Acceptée</span>
							<span ng-if="!d.valide">En cours</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br> <br>
</fieldset>
