<meta charset="utf-8" />
<link
	rel="stylesheet"
	href="static/css/style_Admin.css">
<div id="ma_page">

	<fieldset>
		<legend>
			<h2>Gestion des Demandes d'Inscription</h2>
		</legend>
		<br />
		<div class="option2">
			<div align="center">
				<input
					type="search"
					class="input-sm"
					ng-model="nom"
					placeholder="Entrer un nom ">
			</div>
			<br> <br>
			<div>
				<table
					align="center"
					border=1
					cellspacing=1
					cellpadding=10>
					<thead>
						<tr>
							<th ng-click="sortType = 'dateCreation'; sortReverse = !sortReverse">Date Demande
							<img ng-show="sortType == 'dateCreation' && sortReverse" src="static/images/arrow_down.svg" alt="down" width="12px">
							<img ng-show="sortType == 'dateCreation' && !sortReverse" src="static/images/arrow_up.svg" alt="down" width="12px"></th>
							<th ng-click="sortType = 'cp.nom'; sortReverse = !sortReverse">Nom
							<img ng-show="sortType == 'cp.nom' && sortReverse" src="static/images/arrow_down.svg" alt="down" width="12px">
							<img ng-show="sortType == 'cp.nom' && !sortReverse" src="static/images/arrow_up.svg" alt="down" width="12px"></th>
							<th>Email</th>
							<th ng-click="sortType = 'dateAffectation'; sortReverse = !sortReverse">Date d'Affectation
							<img ng-show="sortType == 'dateAffectation' && sortReverse" src="static/images/arrow_down.svg" alt="down" width="12px">
							<img ng-show="sortType == 'dateAffectation' && !sortReverse" src="static/images/arrow_up.svg" alt="down" width="12px"></th>
							<th ng-click="sortType = 'conseiller.nom'; sortReverse = !sortReverse">Conseiller
							<img ng-show="sortType == 'conseiller.nom' && sortReverse" src="static/images/arrow_down.svg" alt="down" width="12px">
							<img ng-show="sortType == 'conseiller.nom' && !sortReverse" src="static/images/arrow_up.svg" alt="down" width="12px"></th>
							<th ng-click="sortType = 'valide'; sortReverse = !sortReverse">Statut
							<img ng-show="sortType == 'valide' && sortReverse" src="static/images/arrow_down.svg" alt="down" width="12px">
							<img ng-show="sortType == 'valide' && !sortReverse" src="static/images/arrow_up.svg" alt="down" width="12px"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in AdminCtrl.demandes|filter : nom | orderBy : sortType : sortReverse">
							<td><span>{{d.dateCreation | date}}</span></td>
							<td><span>{{d.cp.nom}} {{d.cp.prenom}}</span></td>
							<td><span ng-bind="d.cp.email"></span></td>
							<td><span>{{d.dateAffectation|date}}</span></td>
							<td><span ng-if="!d.conseiller"> <a
									href="#/Admin/AffectCons/{{d.numDemande}}"
									class="myButton">Affecter</a>
							</span> <span ng-if="d.conseiller">{{d.conseiller.nom}}</span>
							</td>
							<td><span ng-if="d.valide">Acceptée</span> <span
								ng-if="!d.valide">En cours</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br> <br>
	</fieldset>

</div>