<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Admin.css">

<div id="ma_page" ng-controller="AdminController as actrl">

<!-- 	<div class="menuBtn" align="center"> -->
<!-- 		<a href="#/Admin" class="myButton">Accueil</a> -->
<!-- 		<a href="#/" class="myButton">Déconnexion</a> -->
<!-- 	</div> -->
<!-- 	<br> -->

	<fieldset>
		<legend>
			<h2>Choix du Conseiller à Affecter</h2>
		</legend>

		<br /> <br />
		<div>
			<table align="center" cellspacing=1 cellpadding=10>
				<thead>
					<tr>
						<th>Matricule</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Affectation</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cons in actrl.conseillers|filter :nom">
						<td><span ng-bind="cons.matricule"></span></td>
						<td><span ng-bind="cons.nom"></span></td>
						<td><span ng-bind="cons.email"></span></td>
						<td><button class="myButton" ng-click="actrl.affectDemandeConseiller()">Choisir</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
	</fieldset>
</div>