
<link rel="stylesheet" href="static/css/style_ClientGestionCompte.css">

<meta charset="utf-8" />
<title>Gestion des Comptes</title>

<div align="center">

	<a href="#/Client" class="myButton">Accueil</a>
	<a href="#/Mes Informations"
	class="myButton">Mes Informations</a>
	<a href="#/ClientMessagerie"
	class="myButton">Messagerie</a> 
	<a href="#/" class="myButton" >Déconnexion</a>

</div>
<br>
<div class="maPage" >
	<div class="menu">
		<legend><h2>Options</h2></legend><br/>
		<div class="options"> <a href="#/Virement" class="myButton">Faire un Virement</a>
			<a href="#/ClientRIB"
			class="myButton">Impression de RIB</a>
			<a href="#/ClientMessagerie"
			class="myButton">Demander un chéquier</a> 
		</div>
	</div>
	<fieldset>
	<legend><h2>Détails du comtpe n°{{noCompte}}</h2>
		</legend>
		<br />
		<div class="option1">
			<table align="center" border=1 cellspacing=1 cellpadding=10>
				<thead>
					<tr>
						<th>Date</th>
						<th>Libéllé</th>
						<th>Débit</th>
						<th>Crédit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in clctrl.transactions">
						<td><span ng-bind="transaction.date"></span></td>
						<td><span ng-bind="transaction.libéllé"></span></td>
						<td><span ng-bind="transaction.montant"></span></td>	
						<td><span ng-bind="transaction.montant"></span></td>						
					</tr>
					<tr >
						<td>28/09/2016</td>
						<td>qgethryjrhhh</td>
						<td>-300,00</td>		
						<td></td>					
					</tr>
					<tr >
						<td>28/09/2016</td>
						<td>atrykukryjrhhh</td>
						<td></td>		
						<td>+150,00</td>					
					</tr>
				</tbody>
			</table>
		</div>
		<br> <div class="solde"><p>Solde : <p2>{{compte.solde}}</p2></p></div><br>
	</fieldset>
</div>