<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Client.css">

<div class="ma_page">

<!-- 	<div class="menuBtn" align="center"> -->
<!-- 		<a href="#/Client" class="myButton">Accueil</a> -->
<!-- 		<a href="#/Mes Informations" class="myButton">Mes Informations</a> -->
<!-- 		<a href="#/ClientMessagerie" class="myButton">Messagerie</a> -->
<!-- 		<a href="#/" class="myButton">Déconnexion</a> -->
<!-- 	</div> -->
	<br>
<form  name="myForm">
	<fieldset>
		<legend>
			<h2>Effectuer un Virement</h2>
		</legend>
		<br />
<br />
		<div class="choixCompte" >
						
					<select name="compteDebit" ng-model="selectNoCompteDebit" ng-options="cd.noCompte for cd in ClientCtrl.comptes"
						class="input-sm2" placeholder="Compte à Débiter" required>
					</select>
			
					<select name="compteCredit" ng-model="selectNoCompteCredit" ng-options="cc.noCompte for cc in ClientCtrl.comptes"
						class="input-sm2"  placeholder="Compte à Créditer" required>
					</select>
				
					</div>
						<br />
			<div class="choixMontant">
						<div class="entry">
							<label id="montant">Montant</label> <input type="number"
						name="montant" class="input-sm" placeholder="Entrez votre montant" ng-model="transaction.montant" required>
						</div>
						<br>
						<div class="entry">
							<label id="Libellé">Libellé</label> <input type="text"
						name="libellé" class="input-sm" placeholder="Libellé du Virement" ng-model="transaction.libelle" required>
						</div>
						<br>
						<div class="entry">
							<label id="date">Date</label> <input type="Date"
						name="date" class="input-sm" placeholder="Date du Virement" ng-model="transaction.dateTransaction" required>
						</div>
			</div>
		<br> 
			<div id="btn_validation">			
						<input type="submit" class="myButton"
							ng-disabled="myForm.$invalid"
							ng-class="{ 'btn-warning' : myForm.$invalid , 'btn-success' : myForm.$valid }">
						<button type="reset" class="myButton" role="button"
							aria-disabled="false">
							Annuler</button>
				</div>
	</fieldset>
	</form>

</div>