<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_ClientGestionCompte.css">

<title>Gestion des Comptes</title>
<!-- <div id="ma_page" > -->
<!-- <div class="menuBtn" align="center"> -->

<!-- 	<a href="#/Client" class="myButton">Accueil</a> -->
<!-- 	<a href="#/Mes Informations" -->
<!-- 	class="myButton">Mes Informations</a> -->
<!-- 	<a href="#/ClientMessagerie" -->
<!-- 	class="myButton">Messagerie</a>  -->
<!-- 	<a href="#/" class="myButton" >Déconnexion</a> -->

<!-- </div> -->
<br>
<div class="maPage2" >
	<div class="menu">
		<legend><h2>Options</h2></legend><br/>
		<div class="options"> <a href="#/GestionCompte/Virement" class="btn">Faire un Virement</a><br/>
			<a href="#/GestionCompte/RIB" class="btn">Impression de RIB</a><br/>
			<a href="#/ClientMessagerie" class="btn">Demander un <br/>chéquier</a> <br/>
		</div>
	</div>
	<div class="gestion">
	<fieldset>
	<legend><h2>Détails du compte n°{{ClientCtrl.compte.noCompte}}</h2>
		</legend>
		<br />
		<div class="option1">
			<table align="center" cellspacing=1 cellpadding=10>
				<thead>
					<tr>
						<th>Date</th>
						<th>Libéllé</th>
						<th>Débit</th>
						<th>Crédit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transac in ClientCtrl.transactions | orderBy: 'date'">
						<td>{{transac.date|date: 'dd MMM yyyy'}}</td>
						<td><span ng-bind="transac.libelle"></span></td>
						<td><span ng-if="transac.montant<0">{{transac.montant}}</span></td>	
						<td><span ng-if="transac.montant>0">+{{transac.montant}}</span></td>						
					</tr>
				</tbody>
			</table>
		</div>
		<br> <div class="solde"><p>Solde : <p2>{{ClientCtrl.compte.solde}}</p2></p></div><br>
	</fieldset>
	</div>
</div>
</div>