<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Messagerie.css">

<div class="ma_page">
<!-- 	<div class="menuBtn" align="center"> -->
<!-- 		<a href="#/Client" class="myButton">Accueil</a> -->
<!-- 		<a href="#/Mes Informations" class="myButton">Mes Informations</a> -->
<!-- 		<a href="#/ClientMessagerie" class="myButton">Messagerie</a> -->
<!-- 		<a href="#/" class="myButton">Déconnexion</a> -->
<!-- 	</div> -->
<!-- 	<br> -->
	<fieldset>
		<legend>
			<h2>Mes Messages</h2>
		</legend>

		<div class="option1">
			<div class="boutons">
				<a href="#/ClientNvRequete" class="myButton">Nouvelle requête</a>
			</div>

			<br />
			<table align="center" cellspacing=1 cellpadding=10>
				<thead>
					<tr>
						<th width="200px">Date</th>
						<th>Messages</th>
						
					</tr>
				</thead>
				<tbody>
					<tr id="lu"  ng-repeat="notif in ClientCtrl.notifications| orderBy: 'date'" ng-click="lu()">
						<td id="lu" class="notif">{{notif.date|date: 'dd MMM yyyy'}}</td>
						<td id="lu" class="notif"><span ng-bind="notif.message"></span></td>
						<!-- <td id="lu" class="notif"><span ng-if="notif.lu==true">Lu</span>
							<span ng-if="notif.lu==false">Non lu</span>
						</td> -->
							
					</tr>
				
				</tbody>
			</table>
		</div>

	</fieldset>
</div>

