<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Messagerie.css">
<div class="ma_page">
<fieldset>
	<legend>
		<h2>Nouveau Message</h2>
	</legend>
	<br />
	
	<div id="message">
	<div id="entete>"
		<label>Destinataire :</label> &nbsp;
		<input type="text" class="input-sm2" placeholder="adresse du destinataire">
		<button class="myButton">Envoyer</button>
		</div>
		<br /> <textarea type="text" rows="10" cols="60"
			class ="input-sm" placeholder="Entrez votre message ici"></textarea>

	</div>
</fieldset>
</div>

