<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Messagerie.css">

<div class="ma_page">
<!-- 	<div class="menuBtn" align="center"> -->
<!-- 		<a href="#/Client" class="myButton">Accueil</a> -->
<!-- 		<a href="#/Mes Informations" class="myButton">Mes Informations</a> -->
<!-- 		<a href="#/ClientMessagerie" class="myButton">Messagerie</a> -->
<!-- 		<a href="#/" class="myButton">Déconnexion</a> -->
<!-- 	</div> -->
<!-- 	<br> -->
	<fieldset>
		<legend>
			<h2>Mes Messages</h2>
		</legend>

		<div class="option1">
			<div class="boutons">
				<a href="#/Conseiller/NvMessage" class="myButton">Nouveau Message</a>
			</div>

			<br />
			<table align="center" cellspacing=1 cellpadding=10>
				<thead>
					<tr>
						<th width="200px">Numero</th>
						<th>Types Requete</th>
						<th>Messages</th>
						<th>Numéro Compte</th>
						<th>Validation Requete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="req in ConsCtrl.requetes">
						<td><span ng-bind="req.numRequete"></span></td>
						<td><span ng-bind="req.type"></span></td>
						<td><span ng-bind="req.message"></span></td>
						<td><span ng-bind="req.compte.noCompte"></span></td>
						<td><button ng-if="!req.accepte" ng-click="ConsCtrl.validationRequete(req)"
								class="myButton">Valider</button>
								<span ng-if="req.accepte">Requete acceptée</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</fieldset>
</div>