<meta charset="utf-8" />
<link
	rel="stylesheet"
	href="static/css/style_ClientGestionCompte.css">

<title>Gestion des Comptes</title>
<div class="ma_page">
	<div class="maPage2">
		<div class="menu">
			<div class="options">
				<button
					ng-click="ConsCtrl.toggle()"
					class="btn">Option du compte</button>
			</div>
		</div>
		<div
			class="gestion"
			ng-show="ConsCtrl.option">
			<fieldset>
				<legend>
					<h2>Option additionnel</h2>
				</legend>

				<form ng-submit="ConsCtrl.modifDecouvert()">
					<div class="entry">
						<label id="decouvert">Montant Découvert</label><input
							type="number"
							name="decouvert"
							class="input-sm"
							ng-model="ConsCtrl.compte.decouvert"
							max="{{ConsCtrl.maxDecouvert}}" /> <input
							type="submit"
							value="modifier"
							class="myButton" />
					</div>
				</form>
				<form ng-submit="ConsCtrl.modifRemuneration()">
					<div class="entry">
						<label id="remuneration">Montant Remuneration</label><input
							type="number"
							name="remuneration"
							class="input-sm"
							ng-model="ConsCtrl.compte.seuilRemuneration" /> <input
							type="submit"
							value="modifier"
							class="myButton" />
					</div>
				</form>
			</fieldset>
		</div>
		<div class="gestion">
			<fieldset>
				<legend>
					<h2>Détails du compte n°{{ConsCtrl.compte.noCompte}}</h2>
				</legend>
				<br />
				<div class="option1" id="printSectionId">
					<table
						align="center"
						cellspacing=1
						cellpadding=10>
						<thead>
							<tr>
								<th>Date</th>
								<th>Libéllé</th>
								<th>Débit</th>
								<th>Crédit</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="transac in ConsCtrl.transactions | orderBy: 'date'">
								<td>{{transac.date|date: 'dd MMM yyyy'}}</td>
								<td><span ng-bind="transac.libelle"></span></td>
								<td><span ng-if="transac.montant<0">{{transac.montant}}</span></td>
								<td><span ng-if="transac.montant>0">+{{transac.montant}}</span></td>
							</tr>
						</tbody>
					</table>
						<div class="solde">
					<p>
						Solde :
						<p2>{{ConsCtrl.compte.solde}}</p2>
					</p>
				</div>
				</div>
				<br>
					<div class="impress">
				<button class="btn" id="print" ng-click="printToCart('printSectionId')" >Imprimer Historique </button>
			</div>
				
			
				<br>
			</fieldset>
		</div>
	</div>
</div>