<meta charset="utf-8">
<link rel="stylesheet"
	href="static/css/style_Formulaire_Inscription.css">

<style>
.nom.ng-valid {
	background-color: lightgreen;
}

.nom.ng-dirty.ng-invalid-required {
	background-color: red;
}
.prenom.ng-valid {
	background-color: lightgreen;
}

.prenom.ng-dirty.ng-invalid-required {
	background-color: red;
}
.pseudo.ng-valid {
	background-color: lightgreen;
}

.pseudo.ng-dirty.ng-invalid-required {
	background-color: red;
}
.pseudo.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}

.email.ng-dirty.ng-invalid-email {
	background-color: yellow;
}
.adresse.ng-valid {
	background-color: lightgreen;
}

.adresse.ng-dirty.ng-invalid-required {
	background-color: red;
}
.codePostal.ng-valid {
	background-color: lightgreen;
}

.codePostal.ng-dirty.ng-invalid-required {
	background-color: red;
}
.ville.ng-valid {
	background-color: lightgreen;
}

.ville.ng-dirty.ng-invalid-required {
	background-color: red;
}


</style>

<div id="ma_page" ng-controller="ClientController as clientctrl" ng-init="affiche()">
				
		<form ng-submit="clientctrl.submit()" name="myForm">
	<div class="form-style-10">

		<fieldset>
			<legend>
				<h2>Informations Générales</h2>
			</legend>
			<br />

			<div class="inner-wrap">
				<div class="entry">
					<label id="text">Nom</label> &nbsp; 
					<input type="text" ng-model="clientctrl.client.nom" name="nom" class="input-sm" required/>
				</div>
				<div class="entry">
					<label id="text">Prénom</label> 
					<input type="text" ng-model="clientctrl.client.prenom" name="prenom" class="input-sm" required>
					</div>
				
				<div class="entry">
					<label id="text">Pseudo</label> 
					<input type="text" ng-model="clientctrl.client.pseudo" name="pseudo" class="input-sm" required minlength="4">
				</div>

				<div class="entry">
					<label id="email">Email</label> 
					<input type="email"	ng-model="clientctrl.client.email" name="email" class="input-sm" required />
					</div>
				<div class="entry">
					<label id="text">Adresse</label> 
					<input type="text" ng-model="clientctrl.client.adresse" name="adresse" class="input-sm" required >
					</div>
				<div class="codeVille">
				<div class="entry">
					<label id="numeric">Code postal</label>
					<input type="number" ng-model="clientctrl.client.codePostal" name="codePostal" id="codeP" class="input-sm2" required >
						
				</div>
				<div class="entry">
					<label id="ville">Ville</label> 
					<input type="text" ng-model="clientctrl.client.ville" name="ville"	class="input-sm3" required >
						
				</div>
				</div>
				
				<div class="entry">
					<label id="date">Date de Naissance </label> <input type="Date"
						name="date" class="input-sm2" id="dateNaissance" required >
						</div>
				
				
				<div class="entry">
					<label id="tel">Téléphone</label> 
					<input type="tel" ng-model="clientctrl.client.telephone" name="telephone" class="input-sm" required >
				</div>
				
			</div>
				<br>	<br>
		
			<h4>Informations Supplémentaires</h4>

			<div class="inner-wrap">
					<div class="entry2">
						<label id="choix">Autorisation découvert</label>
						<input type="checkbox" name="decouvert" id="box">
					</div>
				<br>
					<div class="entry2">
						<label id="numeric">Revenus mensuels</label> <input type="numeric"
							name="revenus" id="revenus" class="input-sm4">
					</div>
				<br>
					<div class="entry2">
						<label id="files">Documents justificatifs</label> <input
							type="file" id="mesFichiers" multiple="multiple">
					</div>
			</div>
			<br>
			<div id="btn_retour">
				<a href="#/Conseiller"
						class="myButton" >Retour</a>
				</div>
				<div id="btn_validation">			
						<input type="submit" class="myButton" ng-disabled="myForm.$invalid"
							ng-class="{ 'btn-warning' : myForm.$invalid , 'btn-success' : myForm.$valid }">
						<button type="reset" class="myButton" role="button"
							aria-disabled="false">
							Annuler</button>
				</div>
			</fieldset>
			
			</div>
		</form>

	</div>