<meta charset="utf-8">
<link
	rel="stylesheet"
	href="static/css/style_Formulaire_Inscription.css">
<link
	rel="stylesheet"
	href="static/css/style_validation.css">
<!-- <link
	rel="stylesheet"
	href="static/css/bootstrap.css"> -->
<link
	rel="stylesheet"
	href="static/css/app.css">

<div id="bloc_page">
	<h1>Formulaire d'Inscription</h1>
	<h4>Tous les champs sont obligatoires</h4>
	<br />
	<form
		ng-submit="PublicCtrl.creationDemande()"
		name="myForm">
		<div class="form-style-10">

			<fieldset>
				<legend>
					<h2>Informations Générales</h2>
				</legend>
				<br />

				<div class="inner-wrap">
					<div class="entry">
						<label id="text">Nom</label> &nbsp; <input
							type="text"
							ng-model="client.nom"
							name="nom"
							class="input-sm"
							placeholder="Entrez votre nom"
							required />
						<!--  div class="has-error" ng-show="myForm.$dirty">
						<span ng-show="myForm.nom.$error.required">Champ
							Obligatoire</span> <span ng-show="myForm.nom.$invalid">Ce champ
							est invalide </span>
					</div-->
					</div>
					<div class="entry">
						<label id="text">Prénom</label> <input
							type="text"
							ng-model="client.prenom"
							name="prenom"
							class="input-sm"
							placeholder="Entrez votre prénom"
							required>
					</div>

					<div class="entry">
						<label id="text">Pseudo</label> <input
							type="text"
							ng-model="client.pseudo"
							name="pseudo"
							class="input-sm"
							placeholder="Choisissez un pseudo"
							required
							minlength="4">
					</div>

					<div class="entry">
						<label id="email">Email</label> <input
							type="email"
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
							ng-model="client.email"
							name="email"
							class="input-sm"
							placeholder="Entrez votre Email"
							required />
					</div>
					<div class="entry">
						<label id="text">Adresse</label> <input
							type="text"
							ng-model="client.adresse"
							name="adresse"
							class="input-sm"
							placeholder="Entrez votre Adresse"
							required>
					</div>

					<div class="entry">
						<label id="numeric">Code postal</label>
						<div class="codeVille">
							<input
								type="number"
								name="codePostal"
								ng-model="client.codePostal"
								id="codeP"
								class="input-sm2"
								placeholder="XXXXX"
								required> <label id="ville">Ville</label> <input
								type="text"
								name="ville"
								ng-model="client.ville"
								class="input-sm3"
								placeholder="Votre Ville"
								required>

						</div>
					</div>
					<div class="entry">
						<label id="date">Date de Naissance </label> <input
							type="Date"
							name="date"
							ng-model="client.dateNaissance"
							class="input-sm2"
							id="dateNaissance"
							placeholder="Date de Naissance"
							required>
					</div>
					<div class="entry">
						<label id="tel">Téléphone</label> <input
							type="tel"
							pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$"
							name="telephone"
							ng-model="client.telephone"
							class="input-sm"
							placeholder="ex : 0299000000"
							required>
					</div>

				</div>
				<div class="inner-wrap">
					<div class="entry2">
						<label id="revenus">Revenus mensuels</label> <input
							type="number"
							ng-model="client.revenuMens"
							name="revenus"
							id="revenus"
							class="input-sm4"
							required>
					</div>
					<br>
					<div class="entry2">
						<label id="files">Documents justificatifs</label> <input
							type="file"
							id="mesFichiers"
							multiple="multiple">
						<button ng-click="add()">+Ajouter</button>
						<!-- UPLOAD FILE SECTION-->
						<!-- 	<div class="form-container">
					 <form:form action="/SpringAngularStartProject/singleUpload" method="POST" modelAttribute="fileModel" enctype="multipart/form-data" class="form-horizontal">
         
          
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable" for="file">Documents justificatifs</label>
                    <div class="col-md-7">
                        <form:input type="file" path="file" id="file" class="input-sm"/>
                        <div class="has-error">
                            <form:errors path="file" class="help-inline"/>
                        </div>
                    </div>
                </div>
                
                <div class="form-actions floatRight">
                    <input type="submit" value="Upload" class="myButton">
                </div>
            
        </form:form>
				</div> -->
						<!-- END UPLOAD DILE SECTION  -->

					</div>
				</div>
				<br>
				<div id="btn_validation">
					<input
						type="submit"
						class="myButton"
						ng-disabled="myForm.$invalid"
						ng-class="{ 'btn-warning' : myForm.$invalid , 'btn-success' : myForm.$valid }"
						value="Envoyer Demande">
					<button
						type="reset"
						class="myButton"
						role="button"
						aria-disabled="false">Annuler</button>
				</div>
			</fieldset>

		</div>
	</form>

</div>