<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_Messagerie.css">
<div class="ma_page">
<fieldset>
	<legend>
		<h2>Nouvelle Requete</h2>
	</legend>
	<br />
	<div id="message">
	<div id="entete">
		
		<label>Type de Requete</label>
		<select name="TypeRequete" ng-model="type">
			  <option value="CHEQUIER">Chéquier</option>
			  <option value="MOTDEPASSE">Mot de Passe</option>
			  <option value="DECOUVERT">Découvert</option>
			  <option value="REMUNERATION">Rémunération</option>
			  <option value="CREATIONCOMPTE">Création de Compte</option>
			  <option value="AUTRE">Autre</option>
		</select>	<br /> <br /> 	
		
		<textarea type="text" rows="10" cols="60" ng-model="message"
		class ="input_sm" placeholder="Entrez votre message ici"></textarea><br /> <br /> 
		
		
		
		<input class="myButton" value="Envoyer" ng-click="ClientCtrl.envoiRequete(requete)">

	</div>
</fieldset>
</div>

