<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_NvRequete.css">
<div class="ma_page">
<fieldset>
	<legend>
		<h2>Nouvelle Requete</h2>
	</legend>
	<br />
	<div id="message">
	<div id="entete">
		
		<label>Type de Requete</label>
			<select name="TypeRequete" ng-model="aaaa">
				  <option value="CHEQUIER">CHEQUIER</option>
				  <option value="MOTDEPASSE">MOTDEPASSE</option>
				  <option value="DECOUVERT">DECOUVERT</option>
				  <option value="REMUNERATION">REMUNERATION</option>
				  <option value="CREATIONCOMPTE">CREATIONCOMPTE</option>
				  <option value="AUTRE">AUTRE</option>
			</select>		
		
			<input class="myButton" value="Envoyer" ng-click="ClientCtrl.envoiRequete(aaaa)">
		</div>
		<br /> <textarea type="text" rows="10" cols="60"
			class ="input_sm" placeholder="Entrez votre message ici"></textarea>

	</div>
</fieldset>
</div>

