<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/style_PageAccueil.css">
<link rel="stylesheet" href="static/css/style_RIB.css">

<title>RIB</title>
<div class="maPage">
<div id="printSectionId">
	<div class="Entête">
		<div id="logo">
			<img src="static/images/GestBank_logo.png"
				alt="Logo GestBank" height="80px" />
					</div>
		<div id="titre">
			<p>Relevé d'Identité Bancaire</p></div>
		</div>
		<br />

			<div class="RIB">
				<table align="center" border=1 cellspacing=1 cellpadding=10>
					<thead>
						<tr>
							<th>14879</th>
							<th>30300</th>
							<th>{{compte.noCompte}}</th>
							<th>68</th>
							<th>GBank George Town</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>c/étab</td>
							<td>c/guichet</td>
							<td>n°Compte</span></td>	
							<td>c/rice</td>		
							<td>domiciliation</td>					
						</tr>
					</tbody>
				</table> <br />
				<p>IBAN (Identifiant international de compte)</p>
				<table align="center" border=1 cellspacing=1 cellpadding=10>
					<thead>
						<tr>
							<th>KY85</th>
							<th>4587</th>
							<th>1256</th>
							<th>6489</th>
							<th>0087</th>
							<th>5466</th>
							<th>106</th>
						</tr>
					</thead>
				</table><br />
				<p>BIC (Identifiant international de l’établissement)</p>
				<table align="center" border=1 cellspacing=1 cellpadding=10>
					<thead>
						<tr>
							<th>C</th>
							<th>E</th>
							<th>P</th>
							<th>A</th>
							<th>K</th>
							<th>Y</th>
							<th>P</th>
							<th>P</th>
							<th>P</th>
							<th>5</th>
							<th>5</th>
							<th>5</th>
						</tr>
					</thead>
				</table>
<div class="infos"></div>
			</div> <br />
</div>
			<div id="print"><button ng-click="printToCart(printSectionId)" class="myButton" >Imprimer</button></div>
		</div>