<div ng-controller="ClientController as clctrl">
		<div align="center">
			<input type="button" value="Accueil" OnClick="#" /> <input
				type="button" value="Mes Informations" OnClick="#" /> <input
				type="button" value="Mes Messages" OnClick="#" /> <input
				type="button" value="Déconnexion" />
		</div>
		<fieldset>
			<legend>
				<h1> Mes Messages</h1>
			</legend>
			<div><input type="button" name="bouton1" value="Nouvelle requete"></div>
			<div>
				<table align="center" border=1 cellspacing=1 cellpadding=10>
					<thead>
						<tr>
							<th>Date</th>
							<th>Message</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="notif in cptctrl.listeNotification">
							<td><span ng-bind="notif.date"></span></td>
							<td><span ng-bind="notif.message"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>