#ma_page
{
	
    margin: auto;
   	min-height:550px;
	
}


.maPage2{

	display: flex;
	margin: auto;
    padding-top: 20px;
		
}

.menuBtn {
	
	padding-top:5px;
	padding-bottom:20px;
	
}

.menu {

	position: relative;
	display: block;
	float:left;
	background-color: white;
    height:20%;
    padding: 25px;
    margin-top: 50px;
    margin-left:10px;
    margin-bottom:10px;
    margin-right:-30px;
    border-radius: 1px;
    box-shadow: 0px 4px 4px 2px black;
    text-align: center;
    justify-content:space-around;
}


.menu a {

	padding: 5px 10px 10px 2px;
	margin: 5px 10px 10px 2px;
	
}

.options {
	
	padding-top:20px;
	width:150px;
}

.gestion {
	
	margin-left:60px;
	min-height:300px;
}

table {
    border-collapse: collapse;
    border: 1px solid #c0c0c0;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #e9f0fe
}

th {
    background-color: #ed8200;
    color: white;
}


.solde {

	display: flex;
	float: right;
	padding-right:10px;
}

.solde p2 {

	color: red;
}

.btn {
  background: #4fb3f5;
  background-image: -webkit-linear-gradient(top, #4fb3f5, #10202b);
  background-image: -moz-linear-gradient(top, #4fb3f5, #10202b);
  background-image: -ms-linear-gradient(top, #4fb3f5, #10202b);
  background-image: -o-linear-gradient(top, #4fb3f5, #10202b);
  background-image: linear-gradient(to bottom, #4fb3f5, #10202b);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  box-shadow: 0px 1px 1px #666666;
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px 10px 5px;
  text-align:center;
}

.btn:hover {
  background: #5cc1ff;
  background-image: -webkit-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -moz-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -ms-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -o-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: linear-gradient(to bottom, #5cc1ff, #3aa1e6);
  text-decoration: none;
}