.maPage{

	display: inline-flex;
	
	justify-content:space-around;
	background-color: #ccd5ff;
	

}

.menu {

	position: relative;
	display: block;
	float:left;
	background-color: white;
    width: 180px;
    height:20%;
    padding: 15px;
    margin-right: 150px;
    margin-left: 100px;
    margin-top: 90px;
    border-radius: 2px;
    box-shadow: 0px 4px 4px 4px black;
    text-align: center;
}

.menu h2 {

	position: absolute;
	height: 50px;
	top:0 !important;
	right:0;
	left:0;
	border-radius: 2px;
	font-weight: bold;


}

.menu a {

	padding: 5px 10px 10px 5px;
	margin: 5px 10px 10px 5px;
}

.options {

	padding-top: 30px;
}

fieldset {

	
	margin-top: 40px;
	}

legend {
	position: absolute;
	height: 50px;
	width: 100%;
	top:0;
	right:0;
	left:0;
	background-color: rgba(24,24,20,0.5);
	border-radius: 2px;
	color: #0000a0;
	font-weight: bold;
	
}

legend h2{
	
	padding-top:10px;
	margin:auto;
	font-size: 1.2em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2
}

th {
    background-color: #ed8200;
    color: white;
}

.solde {

	display: flex;
	float: right;
}

.solde p2 {

	color: red;
}

