.Ma_vue {
	
	padding-top:5%;
	
}

#ma_page {
	
	min-height:650px;
	margin-top:2%;
}


.menuBtn {
	
	padding-top:1%;
	padding-bottom:2%;
	
}

.boutons_accueil {
	
	
	display: flex;
	width: 50%;
    margin: auto;
    padding: 0;
    text-align: center;
	
}

.btnAccueil1 {
	
	background-color: rgba(164, 255, 239, 0.4);
	border: 2px solid  rgba(52, 255, 239, 0.2);
	border-radius: 4px;
	margin-left:2%;
}

.btnAccueil1:hover {
  background: #5cc1ff;
  background-image: -webkit-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -moz-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -ms-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -o-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: linear-gradient(to bottom, #5cc1ff, #3aa1e6);
  color: red;
  font-weight: bold;
  transform: translateY(4px);
  cursor:pointer;
}

.btnAccueil1:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.btnAccueil2 {
	
	background-color:  rgba(246, 63, 132, 0.2);
	border: 2px solid  rgba(255, 37, 67, 0.2);
	border-radius: 4px;
	margin-left:2%;
}

.btnAccueil2:hover {
  background: #5cc1ff;
  background-image: -webkit-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -moz-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -ms-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: -o-linear-gradient(top, #5cc1ff, #3aa1e6);
  background-image: linear-gradient(to bottom, #5cc1ff, #3aa1e6);
  color: red;
  font-weight: bold;
  transform: translateY(4px);
  cursor:pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #e9f0fe}

th {
    background-color: #ed8200;
    color: white;
}
