

/* Eléments principaux de la page */

#MyFooter
{
    height:4%;
    background-color: #f4f8fc;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    display:flex;
    justify-content: space-between;
    margin: 0px;
    
 
}

#MyFooter p
{
	margin-bottom:20px;
}
