

/* Eléments principaux de la page */

#MyFooter
{
    height:40px;
    background-color: #f4f8fc;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    display:flex;
    justify-content: space-between;
    
 
}

#MyFooter p
{
	padding-top:10px;
}
