.Ma_vue {
	
	padding-top:5%;
	
}

.ma_page {
	
	min-height:650px;
	margin-top:2%;
	
}

.menuBtn {
	
	padding-top:1%;
	padding-bottom:2%;
	
}

.input-sm2 {
	
	height: 5%;
	width: 25%;
	padding: 5px 20px;
	font-size: 15px;
	border-radius: 3px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #e9f0fe}

th {
    background-color: #ed8200;
    color: white;
}
